/*header with all the option embedded url and main image*/

.back {
    position: fixed;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1520px;
    top: 0px;
    z-index: 2;
}

.deerImg {
    position: fixed;
    margin-top: 8px;
    height: 45px;
    width: 80px;
    padding-left: 18px;
    z-index: 3;
}

.op1 {
    position: fixed;
    margin-top: 6px;
    margin-left: 110px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
}

.op2 {
    position: fixed;
    margin-top: 6px;
    margin-left: 230px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
}

.op3 {
    position: fixed;
    margin-top: 6px;
    margin-left: 330px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
}

.op4 {
    position: fixed;
    margin-top: 6px;
    margin-left: 430px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
}

.op5 {
    position: fixed;
    margin-top: 8px;
    margin-left: 730px;
    position: fixed;
    font-family: roboto;
    font-size: 12px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
}

.op6 {
    position: fixed;
    margin-top: 8px;
    margin-left: 830px;
    position: fixed;
    font-family: roboto;
    font-size: 12px;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 3;
    transform: scale(1.15, 1);
}

.donate {
    position: fixed;
    margin-top: 5px;
    margin-left: 1270px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: rgba(243, 68, 35, 255);
    z-index: 3;
    transform: scale(1.15, 1);
}

.adopt {
    position: fixed;
    margin-top: 5px;
    margin-left: 1410px;
    position: fixed;
    font-family: roboto;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: rgba(251, 168, 61, 255);
    z-index: 3;
    transform: scale(1.15, 1);
}

.mainImg 
{
    
    margin-top: 50px;
    width: 1520px;
}

a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.details {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 55px;
    font-family: Roboto Condensed;
    text-decoration: none;
    font-weight: normal;
    transform: scale(1.3,1);
    top: 60%;
    left: 19%;
    
}